version: "3.4"
services:
  app:
    image: randomtoy/badgesgenerator:unknown
    ports:
      - "80:8080"
    environment:
      PORT: 8080
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
        - /home/yc-user/redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: always

x-yc-disks:
  - device_name: {{VM_DATA_DISK_D_NAME}}
    fs_type: ext4
    host_path: /home/yc-user/redis-data      